/*start header*/
@import './base.css';
.header{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-items: center;
    position: sticky;
    top: 0;
    padding: 20px 0;
    background-color: #fff;
    z-index: 9;
}
.nav ul{
    display: flex;
    gap: 35px;
    flex-wrap: wrap;
}
.header .nav a{
    color: #101828;
}
.header .logo img{
    width: 35px;
}
.header .logo{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.header .logo a{
    color: var(--mainColor);
}
.active{
    font-weight: 900;
}
.header .auth a{
    padding: 7px 25px;
    border-radius: 5px;
    font-family: var(--subFont);
}
.header .auth a:first-of-type{
    border: 1px var(--mainColor) solid;
    color: var(--mainColor);
}
.header .auth a:last-of-type{
    background-color: var(--mainColor);
    color: #fff;
}
.bar-menu{
    display: none;
}
@media (max-width:1100px){
    .nav{
        display: none;
    }
    .bar-menu{
    display: inline-block;
    }
    .auth{
        display: none;
    }
}
@media (max-width:335px){
    .header .logo a{
        display: none;
    }
}
/*end header*/

/*start find course*/

.find-course{
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.find-course .row{
    gap: 50px;
}
.find-course .register{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 50px;
}
.register .lets-begins{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.register .lets-begins .lets{
    font-family: var(--subFont);
    color: #545be8;
    font-weight: 200;
    font-size: 18px;
}
.register .lets-begins .begin{
    font-family: var(--subFont);
    color: #545be8;
    font-size: 18px;
    font-weight: 500;
}
.register h3{
    font-weight: 700;
    line-height: 60px;
    font-size: 50px;
}
.register h3 .course{
    color: var(--mainColor);
}
.register p{
    color: #969696;
    font-weight: 400;
    font-size: 18px;
}
.reg-bar{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
}
.register .reg-bar .reg{
    color: #fff;
    background-color: #545be8;
    padding: 7px 30px;
    border-radius: 7px;
    font-size: 15px;
}
.reg-bar .play-video img{
    width: 25px;
    height: 25px;
}
.reg-bar .play-video .play-vid{
    font-family: var(--subFont);
    font-size: 15px;
}
.play-video{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
}
.find-course .register,
.find-course .img-find-course{
    width: calc( (100% - 50px) / 2 );
}
.find-course .img-find-course img{
    width: 400px;
    height: 400px;
    
}
@media (max-width:870px){
    .find-course .register{
        width: 100%;
    }
    .find-course .img-find-course{
        width: 100%;
    }
}
@media (max-width:650px){
    .find-course .register h3{
        font-size: 20px;
    }
}
@media (max-width:470px){
    .find-course .img-find-course img{
        width: 250px;
        height: 250px;
        align-items: flex-start;
    }
}

/*end find course*/

/*start benefits-courses*/

.benefits-course{
    background-color: #f5f5f5;
    padding: 80px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.benefits-course .row{
    gap: 20px;
}
.benefits-course .benefits-info,
.benefits-course .benefit-details{
    width: calc( (100% - 20px) / 2 );
}
.benefits-course .benefits-info span{
    color: var(--mainColor);
    font-family: var(--subFont);
    font-weight: 400;
    font-size: 18px;
}
.benefits-course .benefits-info h3{
    color: #131e31;
    font-weight: 700;
    line-height: 50px
}
.benefits-course .benefits-info p{
    color: #969696;
    font-weight: 400;
}
.benefits-course .benefits-desc{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.benefits-course .benefits-desc .benefit-details{
    background-color: #545be8;
    border-radius: 8px;
    padding: 15px 15px;
    width: 200px;
    height: 200px;
}
.benefits-course .benefits-info{
    width: 23%;
}
.benefits-course .benefits-desc{
    width: 75%;
}
.benefits-course .benefits-desc .benefit-details img{
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 50%;
}
.benefits-course .benefits-desc .benefit-details h4{
    font-family: var(--subFont);
    font-weight: 700;
    line-height: 20px;
    color: #fff;
}
.benefits-course .benefits-desc .benefit-details p{
    font-weight: 400;
    line-height: 30px;
    font-size: 10px;
    color: #ddd;
}
@media (max-width:700px){
    .benefits-course .benefits-info{
        width: 100%;
    }
    .benefits-course .benefits-desc{
        width: 100%;
    }
}
@media (max-width:900px){
    .benefits-course .benefits-info{
        text-align: center;
    }
    .benefits-course .benefits-desc{
        margin: auto;
    }
}

/*end benefits-courses*/

/*start selected-courses*/

.selected-courses{
    background: linear-gradient(180deg, #545be8 0%, #272db0 100%);
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.selected-courses .row{
    gap: 30px;
}
.selected-start img{
    width: 400px;
    height: 400px;
}
.selected-courses .selected-start,
.selected-courses .selected-end{
    width: calc( (100% - 30px) / 2);
}
.selected-courses .selected-end{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.selected-end .top-span{
    color: #f0c932;
    font-weight: 200;
    line-height: 8px;
    font-size: 14px;
    font-family: var(--subFont);
}
.selected-end h3{
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    line-height: 60px;
}
.selected-end p{
    color: #ddd;
    font-weight: 400;
    font-size: 14px;
    line-height: 45px;
}
.bottom-spans{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.bottom-spans .special-span{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
}
.bottom-spans .special-span .num-span{
    font-family: var(--subFont);
    color: #f0c932;
    font-weight: 700;
    font-size: 20px;
    text-align: left;
}
.bottom-spans .special-span .details-span{
    font-family: var(--subFont);
    color: #ddd;
    font-weight: 400;
    font-size: 12px;
}
@media (max-width:950px){
    .selected-courses .selected-start{
        width: 200%;
    }
    .selected-courses .selected-end{
        width: 100%;
    }
}
@media (max-width:500px){
    .selected-courses .selected-start img{
        width: 250px;
        height: 350px;
    }
    .selected-courses .selected-end{
        text-align: center;
    }
}

/*end selected-courses*/

/*start courses*/
.courses{
    padding: 30px 0;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.courses .row{
    gap: 30px;
}
.courses-type img{
    width: 100%;
    filter: brightness(75%);
}
.courses-items{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: calc( (100% - 30px) / 2 );
    
}
.course{
    width: calc( (100% - 20px) / 2 );
    box-shadow: 0px 7.437575340270996px 7.437575340270996px rgba(0, 0, 0, 0.05);
}
.course-details .row{
    justify-content: space-around;
}
.course-details{
    padding: 10px;
}
.course-details .row:last-of-type{
    justify-content: flex-start;
}
.course-details span{
    color: #969696;
    font-size: 12px;
    align-items: center;
    padding: 5px 10px;
}
.course,.course-desc{
    width: calc( (100% - 30px) / 2 );
}
.courses-type{
    position: relative;
}
.courses-info{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
}
.courses-info span:first-of-type{
    color: #fff;
    background-color: var(--mainColor);
    padding: 10px;
    font-size: 15px;
}
.courses-info span:last-of-type{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    align-self: flex-end;
}
.course-desc span{
    color: #545BE8;
    font-family: var(--subFont);
    font-weight: 600;
    font-size: 10px;
    line-height: 10px;
}
.course-desc h2{
    color: #131e31;
    font-weight: 800;
    font-size: 28px;
    line-height: 60px;
    width: 20%;
}
.course-desc p{
    color: #969696;
    font-weight: 600;
    font-size: 15px;
    line-height: 50px;
}
.course-desc a{
    background-color: var(--mainColor);
    border: solid 1px var(--mainColor);
    border-radius: 5px;
    padding: 5px 20px;
    color: #fff;
}
@media (max-width:1100px){
    .course{
        width: 200%;
    }
    .course-desc{
        width: 100%;
    }
}
@media (max-width:1100px){
    .course-desc{
        width: 100%;
        text-align: center;
    }
    .course-desc h2{
        width: 100%;
        text-align: center;
    }
    .courses .courses-items .course .courses-type img{
        width: 220%;
    }
}
@media (max-width:700px){
    .courses-info span:first-of-type{
        font-size: 5px;
        padding: 5px;
    }
    .courses-info span:last-of-type{
        font-size: 5px;
        align-self: flex-end;
    }
    .course-details span{
        display: none;
    }
}
@media (max-width:500px){
        .course-details h3{
            font-size: 10px;
        }
}
/*end courses*/

/*start testimonials*/
.testimonials{
    text-align: center;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
}
.testimonials .row{
    gap: 40px;
}
.testimonial{
    width: calc( (100% - 40px) / 2 );
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    padding: 20px;
    box-shadow: 0px 14.23719596862793px 8.23719596862793px rgba(0, 0, 0, 0.4);
    position: relative;
}
.testimonial:after{
    content: '';
    border-top: #707377 solid 30px;
    border-right: #707377 solid 30px;
    border-bottom: transparent solid 30px;
    border-left: transparent solid 30px;
    position: absolute;
    top: 0;
    right: 0;
}
.testimonial .user-info img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.testimonial .user-info{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
.testimonial .user-info .user-data{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}
.testimonial .user-data span{
    font-size: 12px;
    color: #969696;
}
.testimonial .rating img{
    width: 25px;
}
@media (max-width:1100px){
    .testimonial{
        width: 100%;
    }
    .testimonial p{
        font-size: 12px;
    }
}
/*end testimonials*/

/*start footer*/
.footer{
    background-color: #393E46;
    color: #fff;
    padding: 50px 0;
}
.footer .row{
    gap: 40px;
}
.footer a{
    color: #fff;
}
.footer .footer-start,
.footer .footer-end{
    width: calc( (100% - 40px) / 2 );
}
.footer-start{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 35px;
    flex-basis: 500px;
    flex-grow: 1;
}
.footer .footer-start .logo-footer{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}
.footer .footer-start .logo-footer img{
    width: 35px;
}
.footer .footer-start .logo-footer a{
    font-size: 13px;
}
.footer .footer-start p{
    color: #f4f4f4;
    font-size: 13px;
    font-weight: 200;
}
.footer .footer-start .icons img{
    width: 15px;
    height: 15px;
    border: 1px solid #fff;
    padding: 5px;
    box-sizing: content-box;
}
.footer .footer-start .icons{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.footer-end .row{
    align-items: flex-start;
}
.footer-end .footer-item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
}
.footer-end .footer-item ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
}
.footer-end{
    flex-grow: 1;
}
@media (max-width:500px){
    .footer-start{
        text-align: center;
        align-items: center;
    }
}
/*end footer*/